<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  
  <div class="contenedor-todo">
        
        <!-- botones de ida, vuelta, multidestino -->
        <div class="eleccion-vuelos">
          <p class="letra-vuelo" id="btn-vuelos"><strong>Vuelos</strong></p>
          <div class="primeros-btn">
            <button Class="btn-primero" (click)="abrirsidayvuelta()">Ida y vuelta</button>
            <button Class="btn-primero" (click)="abrirsoloida()">Solo ida</button>
            <button Class="btn-primero" (click)="abrirmultidestino()">Multidestino</button>
          </div>
        <!-- linea separadora -->
          <div class="vertical-line"></div>
          <!-- btn peronas y clase -->
         <button class="btn-personas-clase" (click)="openDialogpeersonayclase()">
          <!--<fa-icon [icon]="faUser"></fa-icon>-->
          <i class="fa-solid fa-user"></i>
            Personas y Clase
         </button>
        </div>
  
        <!-- ---------------------------------------------IDA Y VUELTA----------------------------------------------------- -->
         
          <app-ida-y-vuelta *ngIf="idayvuelta"></app-ida-y-vuelta>

         <!-- ---------------------------------------------SOLO IDA----------------------------------------------------- -->
    
        <app-solo-ida *ngIf="soloida"></app-solo-ida>
        
         <!-- ---------------------------------------------MULTIDESTINO----------------------------------------------------- -->
        <app-multidestino *ngIf="multidestino"></app-multidestino>

  </div>
  
  <app-lista-vuelos *ngIf="ComponenteListaVuelos"></app-lista-vuelos>

</body>
<app-footer></app-footer>
</html>



    
