<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-4oVZ3kdfWG5kBbaw7F5hbp8IzYOmOgsS4ahdeafLhJWlC6vJjHD8ERD8KjQce3v2" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/aab5f7b8b6.js" crossorigin="anonymous"></script>
</head>
<body >
    <div class="contenedor-todo">
        <section >
            <div class="boarding-pass" style="background-color: #e36414; ;">
                <section class="boarding-pass-1">
                    <div class="primera-seccion-letras" style="color: #003049;">
                        <i class="fa fa-globe fa-2xl" style="margin-top: 10px; margin-right: 10px;" ></i>
                        <p class="letra-ticket-vuelo"><strong>TICKET DE VUELO</strong> </p>
                        <p class="letra-clase" style="color: white;">ECONOMY</p>
                        <p class="letra-ctrovelto" style="color: white;">TRAVELTO</p>
                    </div>
                </section>

                
            </div>
            <section class="sub-seccion" style="display: flex;">
                <div class="boarding-pass-2">
                    <div class="datos-vuelo" style="display: flex;">
                        <div class="" style="display: flex;">
                            <p id="color-naranja">Pasajero</p>
                            <p class="pasajero"><strong>Scarlet Gutierrez</strong></p>
                        </div>
                        <div class="contenedor-vuelo" >
                            <p class="espacio-letras"><strong>Vuelo CA5686</strong></p>
                            <P class="espacio-letras">Terminal B</P>
                        </div>
                    </div>
                    <!-- salida y llegadad -->
                    <div style="display: flex;">
                        <div style="display: flex;">
                            <div class="contenedor-salida" >
                                <p id="color-naranja">Salida</p>
                                <p class="espacio-letras">8:00am</p>
                                <p class="espacio-letras">Guayaquil</p>
                                <p class="espacio-letras"><strong>GYE</strong></p>
                            </div>
                            <i class="fa-solid fa-plane" id="color-naranja" style="margin-left: 30px;"></i>
                            <div class="contenedor-llegada">
                                <p id="color-naranja">Llegada</p>
                                <p class="espacio-letras">8:51am</p>
                                <p class="espacio-letras">Quito</p>
                                <p class="espacio-letras"><strong>UIO</strong></p>
                            </div>
                        </div>
                        <div >
                            <div class="contenedor-ninguno" style="display: flex;">
                                <div>
                                    <p id="color-naranja">ninguno</p>
                                    <p class="numeros">12</p>
                                </div>
                                <div class="abordo">
                                    <p id="color-naranja">Abordo</p>
                                    <p class="numeros">7:45</p>
                                </div>
                            </div>
                            <div class="contenedor-ninguno">
                                <p id="color-naranja">Asiento</p>
                                <p class="numeros">14A</p>
                            </div>
                        </div>
                        
                        
                    </div>
                    <img src="assets/img/codigo_barras.png" style="width: 200px; height: 40px;">
                    
                </div>
                <!-- ---------------------------OTRO LADO ----------------------------->
                <div class="contenedor-otro-lado" style="display: flex;">
                    <div>
                        <div >
                            <p class="espacio-letras" id="color-naranja">Pasajero</p>
                            <p class="espacio-letras">Scarlet Gutierrez</p>
                        </div>
                        <div style="margin-top: 10px; margin-block-end: 10px;">
                            <p class="espacio-letras"><strong>Vuelo CA5686</strong></p>
                            <P class="espacio-letras">Terminal B</P>
                        </div>
                        <div style="display: flex;">
                            <div>
                                <p id="color-naranja">ninguno</p>
                                <p >12</p>
                            </div>
                            <div class="abordo">
                                <p id="color-naranja">Abordo</p>
                                <p >7:45</p>
                            </div>
                        </div>
                        <div>
                            <p id="color-naranja">Asiento</p>
                            <p >14A</p>
                        </div>
                    </div>

                    <div>
                        <img src="assets/img/codigo_barras.png" class="imgen-rotada" >
                    </div>
                </div>
            </section>
        </section>

        <!--Linea separadora VERTICAL-->
        <!-- <div class="vertical-line"></div> -->
    </div>
        
    
</body>
