@import url('https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@0,300;0,500;0,900;1,300;1,500;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --orange: #ff7800;
  --black: #130f40;
  --sky: #6aa9d5;
  --blue: #234a66;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.2em solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #130f40;
  padding: 3rem 3rem 2rem 3rem;
}

.footer .credit {
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 0.1rem solid #eee;
  font-size: 1rem;
  color: #fff;
  text-transform: capitalize;
}

.footer .credit span{
  text-transform: capitalize;
  color: #ff7800;
}

.footer-col {
  width: 25%;
  padding: 0 2rem;
}

.footer-col span {
  font-family: "Poppins", sans-serif;
  color: #ff7800;
  font-size: 1.2rem;
}

.footer-col h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 3rem;
  position: relative;
}

.footer-col h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -.5rem;
  background-color: #ff7800;
  height: .2rem;
  box-sizing: border-box;
  width: 3rem;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: .5rem;
}

.footer-col ul li a {
  font-size: 16px;
  /* text-transform: capitalize; */
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #eee;
  display: block;
  transition: all 0.3s linear;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  margin-left: 0.3rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
  transition: all 0.5s linear;
}

.footer-col .social-links a:hover {
  color: #130f40;
  background-color: #fff;
}



 /* Media Queries */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}