@import url("https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@0,300;0,500;0,900;1,300;1,500;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --orange: #ff7800;
  --black: #130f40;
  --sky: #6aa9d5;
  --blue: #234a66;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.2em solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid #0a091c;
  --btnhover: rgba(255, 165, 0, 0.2);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
}

*::selection {
  background: #ff7800;
  /* color: var(--white); */
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}

.grid-container {
  padding: 2rem 5%;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 440px;
  background-color: rgba(243, 180, 43, 0.162);
  color: #ff7700;
  font-weight: 600;
  border: 0.2rem solid #ff7800;
  border-radius: 5rem;
  margin-bottom: 1rem;
}

/* Heading */
.heading {
  text-align: center;
  margin-top: 5.3rem;
  /* padding: 2rem 0; */
}

.heading span {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  background: rgba(30, 100, 220, 0.192);
  color: #0a368e;
  text-transform: uppercase;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  box-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.059);
  justify-content: space-between;
  margin: 0.2rem;
}

.heading span .space {
  background: white;
  color: white;
}

.heading span.space {
  background: none;
  box-shadow: none;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  flex: 1 1 30rem;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.card img {
  position: relative;
  margin-right: 2rem;
  width: 150px;
  height: 150px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #130f40;
  text-align: center;
  text-transform: none;
  /* padding: .5rem;
    margin: .5rem; */
  padding-top: 1rem;
  margin-bottom: 0.2rem;
}

.content {
  flex: 1;
  position: relative;
  padding: 0.8rem;
  /* margin-right: 8rem; */
}

.content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ff7700;
  text-transform: capitalize;
  margin: 0;
  padding-top: 0;
  /* margin-bottom: 2rem; */
}

.content h4 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: #333;
  text-transform: capitalize;
  line-height: 10px;
  padding-top: 0.2rem;
}

.content h3 i {
  color: #ff7800;
  padding-top: 0.2rem;
}

.content p {
  margin-right: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: #666;
  padding-top: 0.2rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .user-name {
  margin-right: 8px;
}

.header-wrapper {
  position: relative;
}

.user-info i {
  color: #130f40;
}

#flex-icon i {
  color: #ff7800;
}

.user-info {
  /* flex: 1; */
  margin-right: 1rem;
}

mat-card-content.content {
  flex: 1;
  margin-left: 20px;
}

img[mat-card-image] {
  flex-shrink: 0;
  width: 200px;
  height: auto;
}

.reservation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered {
  margin: 0 auto;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  /* transform: translate(50%, -50%);
  background: #eee; */
  background-color: #eee;
  color: #af0d0d;
  font-size: 1.4rem;
  font-weight: 800;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 1rem;
  z-index: 2;
}

#close:hover {
  background-color: #ff7800;
  color: #ffffff;
}


/* Media Queries */
@media screen and (max-width: 1200px) {
  .heading {
    font-size: 1rem;
    padding: 1.5rem;
    margin-top: 3rem;
  }

  .heading span {
    word-wrap: break-word;
    font-size: 2rem;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem 5%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    flex: 0 0 calc(75% - 1rem);
    /* max-width: calc(75% - 1rem); */
  }

  .card img {
    width: 328px;
    height: 275px;
  }

  mat-card-content .content {
    margin-left: 89px;
  }

  .user-info {
    margin-left: 1rem;
  }
}

@media (max-width: 700px) {
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 410px;
    background-color: rgba(243, 180, 43, 0.288);
    color: #ff7700;
    font-weight: 600;
    border: 0.2rem solid #ff7800;
    border-radius: 5rem;
    margin-bottom: 2rem;
  }

  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card img {
    display: none;
  }

  .content {
    padding-top: 1rem;
  }
}

@media (max-width: 750px) {
  .header-wrapper {
    width: 240px;
  }
}
