<div class="grid-container">

    <div class="row">
    
      <mat-card class="card">
        <mat-card-subtitle><h4>Bienvenido</h4></mat-card-subtitle>
  
    </mat-card>   
  
    <mat-card-content>
      <div class="img">
        <!-- <img src="assets/img/create-user.png" alt=""> -->
        <div class="overlay"></div>
        <img src="https://images.unsplash.com/photo-1592240819880-9aa009357113?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="">
        <h3>Edite la reserva</h3>
                    
        </div>
    </mat-card-content>
  
  </div>
  
  
  
    <div class="row"> 
    
      <mat-card class="card">
        <mat-card-subtitle><h4>Ingrese los datos a editar</h4></mat-card-subtitle>
  
        <mat-card-content>
            <div class="content">
              <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                
                <mat-form-field color="accent">
                  <mat-label>Fecha duración de viaje</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Fecha de inicio" formControlName="fecha_inicio">
                    <input matEndDate placeholder="Fecha de fin" formControlName="fecha_inicio">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                
                  <mat-form-field>
                    <mat-label>Alojamiento</mat-label>
                    <input matInput placeholder=" " autocomplete="off" formControlName="alojamiento" name="alojamiento"> 
                  </mat-form-field>
                
                  <mat-form-field>
                    <mat-label>Transporte</mat-label>
                    <input matInput placeholder="" autocomplete="off" formControlName="transporte" name="transporte">
                  </mat-form-field>
                
                  <div class="date-container">
                    <div class="date-item">
                      <mat-form-field color="accent" id="date">
                        <mat-label>Personas</mat-label>
                        <input matInput placeholder=" " autocomplete="off" formControlName="num_personas" name="num_personas">
                      </mat-form-field>
                    </div>
                
                    <div class="date-item">
                      <mat-form-field color="accent" id="date">
                        <mat-label>Servicio adicional</mat-label>
                        <input matInput placeholder=" " autocomplete="off" formControlName="servicio_adicional" name="servicio_adicional">

                </mat-form-field>
                    </div>
                  </div>
                
                  <div class="content-btn">
                    <button class="btn" [disabled]="editForm.invalid">Guardar</button>
                    <button class="btn" (click)="cancel()">Volver</button>
                  </div>
                </form>
                
              </div>
      
          </mat-card-content>
      </mat-card>
    
  
    </div>
  </div>