<!-- <header id="cabecera">
  <p>
    <mat-toolbar class="toolbal">
      <div id="logo">
        <img src="https://images.vexels.com/media/users/3/146201/isolated/preview/da82ca77496acde185d7cb51bf92a196-avion-en-silueta-de-vuelo.png" alt="logo">
      </div>
      <span><a href="#">TravelTo</a></span>
      <span class="example-spacer"></span>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
                <li><a href="#">Vuelos</a></li>
                <li><a href="#">Alojamiento</a></li>
                <li><a href="#">Paquetes de viaje</a></li>
        </ul>
      </nav>
    </mat-toolbar>
  </p>
 
</header> -->


<!-- Encabezado-imagen-->
<div class="titulo-img">
  <p>Agencia de viajes</p>
  <h1>ALOJAMIENTO </h1>
  <p>Una estancia como la mereces</p>
</div>





















































