/* Structure */
body{
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-block-end: 30px;
  }
  table {
      width: 100%;
    }
    
    .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
    }