<link rel="shortcut icon" href="/src/assets/img/airplane.png" type="image/x-icon"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css"/>

<link href="https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@0,300;0,500;0,900;1,300;1,500;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"/>


<h1 class="heading">
  <span>c</span>
  <span>a</span>
  <span>r</span>
  <span>r</span>
  <span>i</span>
  <span>t</span>
  <span>o</span>
  <span class="space"> </span>
  <span>d</span>
  <span>e</span>
  <span class="space"> </span>
  <span>c</span>
  <span>o</span>
  <span>m</span>
  <span>p</span>
  <span>r</span>
  <span>a</span>
</h1>

<div class="grid-container">

  <div id="message-container"></div>


<mat-card class="card">
  <div class="flex-container">
    <mat-card-content class="content">

      <div class="header-wrapper">
        <h3><i class="fas fa-map-marker-alt"></i> quito</h3>
        <div class="icons">
        <div class="fa-solid fa-trash-can" id="delete" (click)="deleteCard($event)"></div></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        ullam accusamus tempore! Quidem, perferendis incidunt.
      </p>

      <div class="user-info">
        <h4 class="user-name">
          <i class="fa-solid fa-user"></i> Nombre:
        </h4>
        <p class="nombre">Scarlet Gutierrez</p>
      </div>

      <div class="user-info">
        <h4 class="user-name">
          <i class="fa-solid fa-address-card"></i>Cédula:
        </h4>
        <p class="nombre">0145687852</p>
      </div>
      
      <div class="user-info">
        <h4 class="user-name">
          <i class="fa-solid fa-people-group"></i>  Número de personas:
        </h4>
        <p class="nombre">4 (cuatro)</p>
      </div>
      
      <div class="icons">
        <div class="fa-solid fa-hotel"></div>
        <div class="fa-solid fa-plane" (click)=" abrir_tickets()"></div>
        <div class="fa-solid fa-suitcase"></div>
      </div>

    </mat-card-content>
    <img mat-card-image src="https://images.unsplash.com/photo-1616547141416-55227377a471?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="8" />
  </div>
</mat-card>



<mat-card class="card">
  <div class="flex-container">
    <mat-card-content class="content">

      <div class="header-wrapper">
        <h3><i class="fas fa-map-marker-alt"></i> cuenca</h3>
        <div class="icons">
        <div class="fa-solid fa-trash-can" id="delete" (click)="deleteCard($event)"></div></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        ullam accusamus tempore! Quidem, perferendis incidunt.
      </p>

      <div class="user-info">
        <h4 class="user-name">
          <i class="fa-solid fa-user"></i> Nombre:
        </h4>
        <p class="nombre">Ivette Zamora</p>
      </div>

      <div class="user-info">
        <h4 class="user-name">
          <i class="fa-solid fa-address-card"></i> Cédula:
        </h4>
        <p class="nombre">0145687852</p>
      </div>
      
      <div class="user-info">
        <h4 class="user-name">
          <i class="fa-solid fa-people-group"></i> Número de personas:
        </h4>
        <p class="nombre">4 (cuatro)</p>
      </div>
      
      <div class="icons">
        <div class="fa-solid fa-hotel"></div>
        <div class="fa-solid fa-plane"></div>
        <div class="fa-solid fa-suitcase"></div>
      </div>

    </mat-card-content>
    <img mat-card-image src="https://cdn.discordapp.com/attachments/1012189387603333162/1121476059355947008/ecuador-quito-top-things-to-do-plaza-grande.png" alt="8" />
  </div>
</mat-card>






<mat-card class="card">
  <div class="flex-container">
    <mat-card-content class="content">

      <div class="header-wrapper">
        <h3><i class="fas fa-map-marker-alt"></i> cotopaxi</h3>
        <div class="icons">
        <div class="fa-solid fa-trash-can" id="delete" (click)="deleteCard($event)"></div></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        ullam accusamus tempore! Quidem, perferendis incidunt.
      </p>

      <div class="user-info">
        <h4 class="user-name">
          <i class="fa-solid fa-user"></i> Nombre:
        </h4>
        <p class="nombre">Ivette Zamora</p>
      </div>

      <div class="user-info">
        <h4 class="user-name">
          <i class="fa-solid fa-address-card"></i> Cédula:
        </h4>
        <p class="nombre">0145687852</p>
      </div>
      
      <div class="user-info">
        <h4 class="user-name">
          <i class="fa-solid fa-people-group"></i> Número de personas:
        </h4>
        <p class="nombre">4 (cuatro)</p>
      </div>
      
      <div class="icons">
        <div class="fa-solid fa-hotel"></div>
        <div class="fa-solid fa-plane"></div>
        <div class="fa-solid fa-suitcase"></div>
      </div>

    </mat-card-content>
    <img mat-card-image src="https://images.unsplash.com/photo-1677008291720-1d55908075ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="8" />
  </div>
</mat-card>


</div>