@import url("https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@0,300;0,500;0,900;1,300;1,500;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.pink-form-field .mat-form-field-underline {
  background-color: pink !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(241, 145, 145);
}

.mdc-text-field {
  border-top-left-radius: var(--mdc-shape-small, 10px);
  border-top-right-radius: var(--mdc-shape-small, 10px);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-flex;
  align-items: baseline;
  padding: 0 16px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  will-change: opacity,transform,color;
}

:root {
  --orange: #ff7800;
  --black: #130f40;
  --sky: #6aa9d5;
  --blue: #234a66;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.2em solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid #0a091c;
  --btnhover: rgba(255, 165, 0, 0.2);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
  /* font-size: 1rem; */
  /* font-size: 30%; */
}

*::selection {
  background: #ff7800;
  /* color: var(--white); */
}


.btn-s {
  font-weight: 600;
  background: #130f40;
  display: inline-block;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  border-radius: 5rem;
  color: #fff;
  border: 0.2rem solid #130f40;
  cursor: pointer;
  align-items: center;
  margin-right: 1rem;
}

.btn-s:hover {
  background: rgba(56, 37, 224, 0.218);
  color: #130f40;
}

.btn-v {
  font-weight: 600;
  background: #a81100;
  display: inline-block;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  border-radius: 5rem;
  color: #fff;
  border: 0.2rem solid #a81100;
  cursor: pointer;
  align-items: center;
}

.btn-v:hover {
  background: rgba(224, 37, 37, 0.218);
  color: #a81100;
}


.btn {
  font-weight: 600;
  display: inline-block;
  /* margin-top: 1rem; */
  background: #ff7800;
  color: #fff;
  padding: 0.3rem 3rem;
  border: 0.2rem solid #ff7800;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 5rem;
  
}

.btn:hover {
  background: rgba(255, 165, 0, 0.2);
  color: #ff7800;
}

.content-btn {
    display: flex;
    justify-content: right ;
    padding-bottom: 1.2rem;
    /* padding-top: .5rem; */
    padding-right: 1rem;
    /* padding-left: 2rem; */
  }

.dashboard-card {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.grid-container {
    display: flex;
    justify-content: space-between;

  }
  
  .row {
    flex: 1;
    margin-right: 2rem;
    margin-top: .5rem;
    margin: 1rem;
  }
  
  .card {
    width: 100%;
    margin-bottom: 16px;
  }

  .date-container {
    display: flex;
    /* justify-content: space-between; */
  }
  
  .date-item {
    flex: 1;
    margin-right: 0;
  /* margin-right: .5rem;  */
  }
    
  mat-form-field#date {
    width: 190px;

}

mat-card-title{
font-size: 1.5rem;
  color: #333;
  text-transform: capitalize;
  padding: .5rem;
  font-family: "Poppins", sans-serif;
}

mat-card-subtitle{
  font-size: 1rem;
  color: #666;
  padding-top: .3rem;
  padding: .5rem;
  font-family: "Poppins", sans-serif;
}

mat-form-field{
    width: 400px;
    padding: .5rem;
    border-radius: 5rem;
    /* background-color: #66666685; */
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    padding-bottom: .5px;
    margin-right: 12px;
    font-size: .8rem;
}

mat-form-field .matInput {
    padding-top: 10px;
    padding-bottom: 5px;
}

mat-label{
    font-size: .8rem;
    color: #666;
    line-height: 10px;
    font-family: "Poppins", sans-serif;
}


mat-card-content{
    font-size: 10%;
}



.content {
    padding: .5rem;
    margin: .5rem;
    flex-wrap: wrap;
    flex-direction: column;
}

mat-card-title h3 {
  font-size: 1.5rem;
  color: #130f40;
  text-align: center;
  text-transform: none;
}

mat-card-subtitle h4 {
  font-size: 1rem;
  color: #666;
  text-align: center;
}


.content h3,
.content mat-form-field,
.content input {
  display: block;
}
