<link rel="shortcut icon" href="assets/img/airplane.png" type="image/x-icon" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css"/>

<link href="https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@0,300;0,500;0,900;1,300;1,500;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"/>

<div class="grid-container">

    <div class="row">
    
      <mat-card class="card">
        <mat-card-subtitle><h4>Datos generales</h4></mat-card-subtitle>

    <mat-card-content>
      <div class="content">


        <mat-form-field>
            <mat-label>Cédula</mat-label>
            <span matPrefix>+ECU &nbsp;</span>
            <input matInput placeholder=" "[formControl]="cedula" required>
            <mat-error *ngIf="cedula.invalid">{{getErrorMessageCedula()}}</mat-error>
        </mat-form-field>



        <mat-form-field color="primary">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder=" "[formControl]="name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
          </mat-form-field>

        
        <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Telefóno</mat-label>
            <span matPrefix>+593 &nbsp;</span>
            <input matInput placeholder=" "[formControl]="number" required>
            <mat-error *ngIf="number.invalid">{{getErrorMessageNumber()}}</mat-error>
        </mat-form-field>


        
            
        </div>

    </mat-card-content>

    </mat-card>   
</div>
  
  
  
    <div class="row">
    
      <mat-card class="card">
        <mat-card-subtitle><h4>Datos de reserva</h4></mat-card-subtitle>

        <mat-card-content>
            <div class="content">

   
              <div class="date-container">
                <div class="date-item">
                  <mat-form-field color="accent" id="date">
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput [matDatepicker]="picker1" [formControl]="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="startDate.hasError('invalidDateRange')">
                      La fecha de inicio no puede ser posterior a la fecha de fin.
                    </mat-error>
                    
                    <mat-error *ngIf="endDate.hasError('invalidDateRange')">
                      La fecha de fin no puede ser anterior a la fecha de inicio.
                    </mat-error>
                    
                    <!-- <mat-hint>{{endDate.value?.sound}}</mat-hint> -->
                  </mat-form-field>
                </div>
              
                <div class="date-item">
                  <mat-form-field color="accent" id="date">
                    <mat-label>Fecha de fin</mat-label>
                    <input matInput [matDatepicker]="picker2" [formControl]="endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    <mat-error *ngIf="startDate.hasError('invalidDateRange')">
                      La fecha de inicio no puede ser posterior a la fecha de fin.
                    </mat-error>
                    
                    <mat-error *ngIf="endDate.hasError('invalidDateRange')">
                      La fecha de fin no puede ser anterior a la fecha de inicio.
                    </mat-error>
                    
                    
                    <!-- <mat-error *ngIf="!validarFechas()">Seleccione una fecha válida</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              

              <div class="date-container">
                <div class="date-item">
              <mat-form-field color="accent" id="date">
                <mat-label>Alojamiento</mat-label>
                <mat-select [formControl]="alojamientoControl" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let alojamiento of alojamientos" [value]="alojamiento">
                    {{alojamiento.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="alojamientoControl.hasError('required')">Elije el alojamiento</mat-error>
                <mat-hint>{{alojamientoControl.value?.sound}}</mat-hint>
              </mat-form-field>
            </div>
                  


            <div class="date-item">
              <mat-form-field color="warn"  id="date">
                <mat-label>Destino</mat-label>
                <mat-select [formControl]="destinoControl" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let destino of destinos" [value]="destino">
                    {{destino.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="destinoControl.hasError('required')">Elije el destino</mat-error>
                <mat-hint>{{destinoControl.value?.sound}}</mat-hint>
              </mat-form-field>
            </div>
        </div>



        <mat-form-field>
            <mat-label>Número de personas</mat-label>
            <mat-select [formControl]="personaControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let persona of personas" [value]="persona">
                {{persona.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="personaControl.hasError('required')">Elije el número de personas</mat-error>
            <mat-hint>{{personaControl.value?.sound}}</mat-hint>
          </mat-form-field>




          <mat-form-field color="accent">
            <mat-label>Servicio adicional</mat-label>
            <mat-select [formControl]="servicioControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let servicio of servicios" [value]="servicio">
                {{servicio.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="servicioControl.hasError('required')">Elije el servicio adicional</mat-error>
            <mat-hint>{{servicioControl.value?.sound}}</mat-hint>
          </mat-form-field>

                  
              </div>
      
          </mat-card-content>
      </mat-card>
    
  
    </div>
  </div>

  <div class="content-btn">
    <a class="btn-s">Aceptar</a>
    <a class="btn-v" (click)="cancel()">Cancelar</a>
</div>

