<link rel="shortcut icon" href="assets/img/airplane.png" type="image/x-icon" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css"/>

<link href="https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@0,300;0,500;0,900;1,300;1,500;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"/>

  <form class="grid-container" [formGroup]="reservaForm">

    <div class="row">

      <mat-card class="card">
        <mat-card-subtitle><h4>Datos generales</h4></mat-card-subtitle>

    <mat-card-content>
      <div class="content">
        
        <mat-form-field>
            <mat-label>Cédula</mat-label>
            <span matPrefix>+ECU &nbsp;</span>
            <input matInput placeholder=" "formControlName="cedula" required>
            <mat-error *ngIf="cedula.invalid">{{getErrorMessageCedula()}}</mat-error>
        </mat-form-field>



        <mat-form-field color="primary">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder=" "formControlName="name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
          </mat-form-field>

        
        <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Telefóno</mat-label>
            <span matPrefix>+593 &nbsp;</span>
            <input matInput placeholder=" "formControlName="number" required>
            <mat-error *ngIf="number.invalid">{{getErrorMessageNumber()}}</mat-error>
        </mat-form-field>


        
            
        </div>

    </mat-card-content>

    </mat-card>   
</div>
  
  
  
    <div class="row">
    
      <mat-card class="card">
        <mat-card-subtitle><h4>Datos de reserva</h4></mat-card-subtitle>

        <mat-card-content>
            <div class="content">


              <mat-form-field color="accent">
                <mat-label>Fecha duración de viaje</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Fecha de inicio" formControlName="startDate">
                  <input matEndDate placeholder="Fecha de fin" formControlName="endDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="startDateControl.invalid && startDateControl.touched">
                  {{ getErrorMessageStartDate() }}
                </mat-error>
                <mat-error *ngIf="endDateControl.invalid && endDateControl.touched">
                  {{ getErrorMessageEndDate() }}
                </mat-error>
              </mat-form-field>
                          



            <div class="date-container">
              <mat-form-field color="accent" id="date">
                <mat-label>Alojamiento</mat-label>
                <mat-select formControlName="alojamiento" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let item of alojamiento" [value]="item">
                    {{item}}</mat-option>
                </mat-select>
                <mat-error *ngIf="alojamientoControl.hasError('required')">Seleccione el alojamiento</mat-error>
              </mat-form-field>

              <mat-form-field color="accent" id="date">
                <mat-label>Transporte</mat-label>
                <mat-select formControlName="transporte" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let item of transporte" [value]="item">
                    {{item}}</mat-option>
                </mat-select>
                <mat-error *ngIf="transporteControl.hasError('required')">Seleccione el transporte</mat-error>
              </mat-form-field>
            </div>


        <mat-form-field color="accent">
            <mat-label>Número de personas</mat-label>
            <mat-select formControlName="npersonas" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of npersonas" [value]="item">
                {{item}} </mat-option>
            </mat-select>
            <mat-error *ngIf="npersonasControl.hasError('required')">Debe seleccionar el número de personas</mat-error>
          </mat-form-field>




          <mat-form-field color="accent">
            <mat-label>Servicio adicional</mat-label>
            <mat-select formControlName="servicio" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of servicio" [value]="item">
                {{item}}</mat-option>
            </mat-select>
            <mat-error *ngIf="servicioControl.hasError('required')">Debe seleccionar un servicio</mat-error>
          </mat-form-field>

                  
              </div>
      
          </mat-card-content>
      </mat-card>
       
    </div>
  
  
  </form>

<div class="content-btn">
    <button class="btn-s" [disabled]="!reservaForm.valid" (click)="openDialog()">Aceptar</button>
    <button class="btn-v" (click)="cancel()">Cancelar</button>
</div>


