<body>
<header>

<section class="textos-header">
  <h1>Recuerdos de viajes que </h1>
  <h1>nunca olvidarás</h1>
  <h2>Descubre más sobre Ecuador</h2>
  <h3>¡Haz memorias inolvidables!</h3>
</section>
<div class="wave" style="height: 150px; overflow: hidden">
  <svg
    viewBox="0 0 500 150"
    preserveAspectRatio="none"
    style="height: 100%; width: 100%"
  >
    <path
      d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #fff"
    ></path>
  </svg>
</div>
</header>

<main>
<section class="contenedor sobre-nosotros">
  <h2 class="titulo">Acerca de nosotros</h2>
  <div class="contenedor-sobre-nosotros">
    <img src="https://images.unsplash.com/photo-1566352081904-cfa7024f5d6a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80" alt="" class="imagen-about-us" />
    <div class="contenido-textos">
      <h3><span>1</span>Los mejores lugares</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum
        ipsum repellendus dolore! Voluptate a esse, illo ducimus
        consequuntur fuga laboriosam beatae sapiente cupiditate? Assumenda
        dolorem earum voluptas ab quibusdam optio, iure fuga, voluptate
        omnis itaque ullam! Esse facere nesciunt quae corporis labore
        quaerat vitae ab? Esse temporibus nesciunt reprehenderit quos.
      </p>
      <h3><span>2</span>Los mejores lugares</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
        consequuntur soluta voluptate architecto, voluptatibus a
        temporibus tempora dolorum! Sit laudantium, a unde dolorem
        accusantium quaerat! Corrupti odio ipsa recusandae earum beatae,
        animi omnis nemo sequi fugit dolorum facere ducimus reiciendis,
        neque esse rerum? Nemo, eligendi dolor rem voluptates voluptate
        obcaecati!
      </p>
    </div>
  </div>
</section>
<section class="portafolio">
  <div class="contenedor">
    <h2 class="titulo">Portafolio</h2>
    <div class="galeria-port">
      <div class="imagen-port">
        <img src="https://cdn.discordapp.com/attachments/1012189387603333162/1114637926589014107/OIP.png" alt="" />
        <div class="hover-galeria">
          <img src="img/boton.png" alt="" />
          <p>Quito</p>
        </div>
      </div>
      <div class="imagen-port">
        <img src="https://cdn.discordapp.com/attachments/1012189387603333162/1114638557026455597/e16.png" alt="" />
        <div class="hover-galeria">
          <img src="img/boton.png" alt="" />
          <p>Guayaquil</p>
        </div>
      </div>
      <div class="imagen-port">
        <img src="https://cdn.discordapp.com/attachments/1012189387603333162/1114639184800522350/OIP.png" alt="" />
        <div class="hover-galeria">
          <img src="img/boton.png" alt="" />
          <p>Montañita</p>
        </div>
      </div>
      <div class="imagen-port">
        <img src="https://cdn.discordapp.com/attachments/1012189387603333162/1114639550761943060/635895795245785007-Cuenca-1.png" alt="" />
        <div class="hover-galeria">
          <img src="img/boton.png" alt="" />
          <p>Cuenca</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="clientes contenedor">
  <h2 class="titulo">¿Qué dicen nuestros viajeros?</h2>
  <div class="cards">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="" />
      <div class="contenido-texto-card">
        <h4>Name</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
          sapiente!
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="" />
      <div class="contenido-texto-card">
        <h4>Name</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
          sapiente!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="about-services">
  <div class="contenedor">
    <h2 class="titulo">Nuestros servicios</h2>
    <div class="servicio-cont">
      <div class="servicio-ind">
        <img src="assets/vuelos.jpeg" alt="" />
        <h3>Vuelos</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
          qui?
        </p>
      </div>
      <div class="servicio-ind">
        <img src="assets/alojamientos.jpeg" alt="" />
        <h3>Alojamiento</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
          qui?
        </p>
      </div>
      <div class="servicio-ind">
        <img src="assets/paquetes.jpeg" alt="" />
        <h3>Paquete de viaje</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
          qui?
        </p>
      </div>
    </div>
  </div>
</section>
</main>


</body>


