<link rel="shortcut icon" href="assets/img/airplane.png" type="image/x-icon" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css"/>

<link href="https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@0,300;0,500;0,900;1,300;1,500;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"/>


<section>
  <mat-toolbar>
    <span class="btn-left">Reserva</span>
      
    <button class="btn btn-right" (click)="mostrarTodos()">Todos</button>
    <button class="btn btn-left2" (click)="openDialogCreateUser()">Agregar</button>
  </mat-toolbar>

  <div class="grid-container">
     <mat-form-field>
      <mat-label>Realiza una búsqueda</mat-label>
      <button class="btn btn-left2" (click)="buscarTransporte()">Buscar</button>
      <input matInput #input autocomplete="off" placeholder="Ej. tren"/>
      <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Ex. tren" #input autocomplete="off"/> -->
    </mat-form-field>

    <!-- Tabla inicialmente vacía con encabezados -->
  <mat-card *ngIf="!mostrarDatos">
    <div class="mat-elevation-z4 demo-table">
      <table mat-table [dataSource]="dataSource" matSort class="full-height-table">
        <!-- Encabezados de las columnas -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">{{ column }}</th>
        </ng-container>
  
        <!-- Filas de la tabla (ninguna en este caso) -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
  
  <div *ngIf="mostrarDatos" class="table-container">
    <mat-card>
      <div class="mat-elevation-z4 demo-table">
        <table mat-table [dataSource]="dataSource" matSort class="full-height-table">

          <ng-container matColumnDef="fecha_inicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Fecha de inicio </th>
            <td mat-cell *matCellDef="let element" class="body-cell">{{ element.fecha_inicio | date:'mediumDate' }}</td>
          </ng-container>
          
          <ng-container matColumnDef="fecha_fin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Fecha de fin </th>
            <td mat-cell *matCellDef="let element" class="body-cell">{{ element.fecha_fin | date:'mediumDate' }}</td>
          </ng-container>
          
          <ng-container matColumnDef="alojamiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Alojamiento </th>
            <td mat-cell *matCellDef="let element" class="body-cell">{{ element.alojamiento }}</td>
          </ng-container>
          
          <ng-container matColumnDef="transporte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Transporte </th>
            <td mat-cell *matCellDef="let element" class="body-cell">{{ element.transporte }}</td>
          </ng-container>
          
          <ng-container matColumnDef="num_personas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Personas </th>
            <td mat-cell *matCellDef="let element" class="body-cell">{{ element.num_personas }}</td>
          </ng-container>
          
          <ng-container matColumnDef="servicio_adicional">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Servicio </th>
            <td mat-cell *matCellDef="let element" class="body-cell">{{ element.servicio_adicional }}</td>
          </ng-container>
          
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"></th>
            <td mat-cell *matCellDef="let element; let i = index" class="actions-cell">
              <a class="action-link" (click)="editRow(element)" matTooltip="Modificar usuario">
                <i class="fa-solid fa-pen"></i>
              </a>
              <a class="action-link" (click)="deleteRow(element)" matTooltip="Eliminar usuario">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </td>
          </ng-container>

        
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
  
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </mat-card>
  </div>
</div>

  <h2 *ngIf="data.length == 0">No hay registros para mostrar</h2>

</section>





<!-- <app-cliente></app-cliente> -->


