<link rel="shortcut icon" href="assets/img/airplane.png" type="image/x-icon" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css"/>

<link href="https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@0,300;0,500;0,900;1,300;1,500;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"/>


<!-- START HOME SECTION -->
<section class="home" id="home">
  <!-- <div class="content">
    <h3>adventure is worthwhile</h3>
    <p>discover new places with us, adventure awaits</p>
    <a href="#" class="btn">discover more</a>
  </div> -->

  <div class="container-all">
    <input type="radio" id="1" name="image-slide" hidden />
    <input type="radio" id="2" name="image-slide" hidden />
    <input type="radio" id="3" name="image-slide" hidden />

    <div class="slide">
      <div class="item-slide">
        <span>explora, descubre, disfruta</span>
        <h3>viaja por todo el ecuador</h3>
        <div class="overlay"></div> 
        <img src="https://images.unsplash.com/photo-1600074169098-16a54d791d0d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80" alt="" />
      </div>

      <div class="item-slide">
        <span>explora, descubre, disfruta</span>
        <h3>viaja por todo el ecuador</h3>
        <div class="overlay"></div> 
        <img src="https://images.unsplash.com/photo-1595708295124-1a36d80e32a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=929&q=80" alt="" />
      </div>

      <div class="item-slide">
        <span>explora, descubre, disfruta</span>
        <h3>viaja por todo el ecuador</h3>
        <div class="overlay"></div> 
        <img src="https://images.unsplash.com/photo-1628004550522-02dc9cb7456e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="" />
      </div>
    </div>

    <div class="pagination">
      <label for="1" class="pagination-item">
        <img src="https://images.unsplash.com/photo-1600074169098-16a54d791d0d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80" alt="" />
      </label>

      <label for="2" class="pagination-item">
        <img src="https://images.unsplash.com/photo-1595708295124-1a36d80e32a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=929&q=80" alt="" />
      </label>

      <label for="3" class="pagination-item">
        <img src="https://images.unsplash.com/photo-1628004550522-02dc9cb7456e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="" />
      </label>
    </div>
  </div>
</section>
<!-- END HOME SECTION -->

