<link rel="shortcut icon" href="assets/img/airplane.png" type="image/x-icon" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css"/>

<link href="https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@0,300;0,500;0,900;1,300;1,500;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet"/>

<div class="grid-container">

  <div class="row">
  
    <mat-card class="card">
      <mat-card-subtitle><h4>Bienvenido</h4></mat-card-subtitle>

  </mat-card>   

  <mat-card-content>
    <div class="img">
      <!-- <img src="assets/img/create-user.png" alt=""> -->
      <div class="overlay"></div>
      <img src="https://images.unsplash.com/photo-1592509008115-6da34d5b03a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="">
      <h3>Ingrese una nueva reserva</h3>
                  
      </div>
  </mat-card-content>

</div>



  <div class="row"> 
  
    <mat-card class="card">
      <mat-card-subtitle><h4>Ingrese los datos</h4></mat-card-subtitle>

      <mat-card-content>
          <div class="content">
            <form [formGroup]="usuarioNuevo">

              <mat-form-field color="accent">
                <mat-label>Fecha duración de viaje</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Fecha de inicio" formControlName="fecha_inicio">
                  <input matEndDate placeholder="fecha_fin" formControlName="fecha_inicio">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
              
                <mat-form-field>
                  <mat-label>Alojamiento</mat-label>
                  <input matInput placeholder=" " autocomplete="off" formControlName="alojamiento" name="alojamiento"> 
                </mat-form-field>
              
                <mat-form-field>
                  <mat-label>Transporte</mat-label>
                  <input matInput placeholder="" autocomplete="off" formControlName="transporte" name="transporte">
                </mat-form-field>
              
                <div class="date-container">
                  <div class="date-item">
                    <mat-form-field color="accent" id="date">
                      <mat-label>Personas</mat-label>
                      <input matInput placeholder=" " autocomplete="off" formControlName="num_personas" name="num_personas">
                    </mat-form-field>
                  </div>
              
                  <div class="date-item">
                    <mat-form-field color="accent" id="date">
                      <mat-label>Servicio adicional</mat-label>
                      <input matInput placeholder=" " autocomplete="off" formControlName="servicio_adicional" name="servicio_adicional">
              </mat-form-field>
            </div>
          </div>

          <div class="content-btn">
            <button class="btn" [disabled] = "!usuarioNuevo.valid" (click)="onSubmit()">Aceptar</button>  
            <button class="btn" (click)="cancel()">Cancelar</button>
        </div>

            </form>
            </div>
    
        </mat-card-content>
    </mat-card>
  

  </div>
</div>